// ============================================================
// Hoja de estilos principal
// Las reglas @use deben aparecer antes que cualquier otra regla.
// NOTAS: He decidido mantener los comentarios en españolpero los nombres de fichros y variables en inglés.
// Además he usado la convencion BEM para nombrar las clases, aunque no es obligatorio, me parece que ayuda a organizar el código y a entender la relación entre los elementos.
// ============================================================

// Ejercicio 1: Paleta de colores
@use 'exercise1-palette';

// Ejercicio 2: Temas — cambia entre theme-a y theme-b aquí:
@use 'theme-a'; // <-- cambiar a 'theme-b' para el Tema B (y ejecutar el comando npm run build)
@use 'exercise2-themes';

// Ejercicio 3: Barra de navegación con Flexbox
@use 'exercise3-navbar';

// Ejercicio 4: Card con Grid CSS
@use 'exercise4-card';

// ============================================================
// Estilos base
// ============================================================
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 24px 32px;
  color: #333;
  margin: 0;
}

h1 {
  color: #2c7873;
  margin-bottom: 8px;
}

h2 {
  color: #444;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  margin-top: 0;
}

section {
  margin-bottom: 56px;
}
